.container-mother {
  display: flex;
  width: 100vw;
  height: auto;
  font-family: "Bebas Neue", sans-serif;
}

/* MAIN NAVBAR */
.container-first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #bbbbbb;
  width: 20vw;
  height: 100vh;
  font-size: 30px;
  text-align: center;
  padding: 3rem 0;
}

.container-first-child #logo {
  width: auto;
  height: 75px;
  margin-bottom: 5rem;
}

.container-first-child .name-id {
  font-size: 24px;
  padding-bottom: 5rem;
}

.container-first-child .menu {
  font-size: 30px;
}

.container-first-child .menu li {
  margin: 1.5rem 0;
}

.container-first-child .menu li a {
  color: black;
  transition: 0.1s ease-in-out;
}

.container-first-child .menu li a:hover {
  font-weight: bold;
}

.container-first-child h3 a {
  font-size: 33px;
  color: black;
  font-weight: normal;
  transition: 0.1s ease-in-out;
}

.container-first-child h3 a:hover {
  font-weight: bold;
}

/* SEARCH AND LOCAL */
.container-second-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container-second-child .container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 10%;
  width: 80vw;
  height: 8vh;
}

/* SEARCH */
.container-second-child .container-header .container-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.container-second-child .container-header .container-search .search-bar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.search-button {
  width: auto;
  height: 30px;
  padding-right: 1rem;
}

.container-second-child .container-header .container-search .search-bar input {
  padding: 1px 2px 1px 7px;
  font-size: 20px;
  width: 17vw;
  height: 40px;
  border-radius: 2.5rem;
}

/* LOCAL */
.container-second-child .container-header .address {
  display: flex;
  align-items: center;
}

.container-second-child .container-header .address .local-pointer {
  width: auto;
  height: 30px;
  margin: 0 1rem;
}

/* BTN ADD MORE PRODUCTS */
.container-second-child .container-header .add-more-products {
  display: flex;
  text-align: center;
  background-color: #d8d8d8;
  width: 22rem;
  padding: 0.7rem 1rem;
  border-radius: 2.5rem;
  align-items: center;
}

.container-second-child .container-header .add-more-products img {
  width: auto;
  height: 22px;
  margin-right: 1rem;
}

.container-second-child .container-header .add-more-products a {
  color: black;
  font-size: 25px;
}

/* MAIN CONTENT */
.container-second-child .container-content {
  background-color: rgb(20, 135, 243);
  width: 65vw;
  height: 75vh;
  border-radius: 2.5rem;
  overflow: auto;
}

/* PÁGINA MEUS PRODUTOS */
/* PRODUCT MAIN CONTENT */

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  height: auto;
}

.products .product-line {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 2rem;
  width: 90%;
}

.products .product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  width: 50%;
  height: 20rem;
  border-radius: 2.5rem;
}

/* PRODUCT IMAGES GENERAL CONFIG */
.products .product .product-image {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #8b8b8b;
}

.products .product .purchase-adress img {
  width: auto;
  height: 20px;
  margin-right: 0.5rem;
}

.products .product .purchase-hour img {
  width: auto;
  height: 20px;
  margin-right: 0.5rem;
}

/* PRODUCT INFO GENERAL CONFIG */
.products .product .product-info {
  display: flex;
  flex-direction: column;
}

.products .product .product-name {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.products .product .purchase-adress {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 0.1rem;
}

.products .product .purchase-hour {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  margin-bottom: 0.1rem;
}

.products .product .product-price span {
  font-size: 33px;
}

/* PRODUCTS IMAGES */
.product-image.one {
  background: url(/imgs/pera.jpg) center center;
  background-size: cover;
}

.product-image.two {
  background: url(/imgs/maca.jpg) center center;
  background-size: cover;
}

.product-image.three {
  background: url(/imgs/banana.jpg) center center;
  background-size: cover;
}

.product-image.four {
  background: url(/imgs/morango.jpg) center center;
  background-size: cover;
}

.product-image.five {
  background: url(/imgs/alho.jpg) center center;
  background-size: cover;
}

.product-image.six {
  background: url(/imgs/salsa.jpg) center center;
  background-size: cover;
}

/* PÁGINA ADICIONAR PRODUTO */

.container-content .add-products {
  background-color: white;
  width: 60%;
  height: 38rem;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem;
}

.container-content .add-products h2 {
  font-size: 32px;
  margin-top: 2rem;
}
.container-content .add-products .info-new-product {
  display: flex;
  margin-top: 3rem;
  width: 90%;
  justify-content: space-evenly;
}

.container-content .add-products .info-new-product .new-product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container-content
  .add-products
  .info-new-product
  .new-product-image
  .new-image {
  background-color: #8b8b8b;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.container-content .add-products .info-new-product .new-product-image a {
  background-color: #cfcfcf;
  color: black;
  border-radius: 2.5rem;
  padding: 0.3rem 2rem;
  font-size: 12px;
  border: 2px solid black;
}

.container-content .add-products .info-new-product form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-content .add-products .info-new-product form input {
  border: 2px solid black;
  border-radius: 2.5rem;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.container-content .add-products .info-new-product form label {
  font-size: 15px;
}

.container-content .add-products .save-product {
  margin-top: 3rem;
  background-color: #d8d8d8;
  color: black;
  padding: 0.7rem 4rem;
  font-size: 3rem;
  border-radius: 2.5rem;
}

/* PÁGINA SUPORTE */

/* FAQ */
.container-faq {
  height: 70rem;
  text-align: center;
  padding: 4rem 0;
}

.container-faq h1 {
  font-size: 55px;
  font-weight: normal;
  margin: 6rem 0;
}

.container-faq .categories {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.container-faq .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-bottom: 1px solid #0000004b;
  margin-top: 1rem;
}

.container-faq .category .pergunta {
  font-size: 35px;
  font-weight: normal;
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.5ms;
}

.container-faq .category .pergunta:hover {
  color: #dadada;
}

.container-faq .category .resposta {
  display: none;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 300;
}

/* PERGUNTA ATIVA */
.container-faq .category.ativo .resposta {
  display: block;
  font-family: Open sans;
  font-size: 18px;
  font-weight: normal;
}

.container-faq .category.ativo {
  padding: 0.2rem 0 1rem 0;
}

@media (max-width: 480px) {
  .container-faq {
    height: 60rem;
    text-align: center;
    padding: 4rem 0;
  }

  .container-faq h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 6rem 0;
  }

  .container-faq .category .pergunta {
    font-size: 28px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 370px) {
  .container-faq {
    height: 70rem;
    text-align: center;
    padding: 4rem 0;
  }

  .container-faq h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 6rem 0;
  }

  .container-faq .category .pergunta {
    font-size: 28px;
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* PÁGINA - MEUS PEDIDOS */

.container-content .meus-pedidos {
  width: 96%;
  height: auto;
  max-width: 97%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  justify-content: center;
  margin: 2rem auto;
}

.container-content .meus-pedidos .pedido {
  background-color: white;
  width: 40%;
  border-radius: 2.5rem;
  height: 24rem;
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 1rem 2rem;
}

.container-content .meus-pedidos .pedido h2 {
  margin: 1rem 0;
}

.container-content .meus-pedidos .pedido a {
  background-color: rgb(170, 170, 170);
  color: black;
  padding: 0.5rem 3rem;
  border-radius: 2.4rem;
  font-size: 20px;
  display: inline-block;
  margin: 1rem 0;
}

/* MEU PERFIL - MAIN */

/* PÁGINA MEU PERFIL */
/* MAIN SETTINGS PROFILE */

.my-profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-profile {
  background-color: rgb(196, 195, 195);
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-content-myprofile {
  background-color: rgb(197, 197, 197);
  width: 50%;
  height: 45rem;
  margin: auto auto;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

/* NAVBAR SETTINGS PROFILE */

.navbar-profile .profile-image {
  background-color: antiquewhite;
  /*background: url(/imgs/photo-profile.jpg) no-repeat center center;*/
  background-size: cover;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 2rem 0 1rem 0;
}

.navbar-profile .profile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13rem;
}

.navbar-profile h2 {
  margin-bottom: 4rem;
}

.navbar-profile li {
  font-size: 24px;
}

.navbar-profile a {
  color: black;
  background-color: white;
  padding: 0.5rem 5rem;
  border-radius: 2.5rem;
  margin-bottom: 1rem;
}

.navbar-profile a:hover {
  text-decoration: underline;
}

/* MEU PERFIL - MINHA CONTA */

.container-content-myprofile .header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container-content-myprofile .header h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}

.container-content-myprofile .header img {
  width: auto;
  height: 20px;
  position: absolute;
  right: 17%;
  bottom: 72%;
}

.container-content-myprofile .image-profile-edit {
  display: flex;
  font-size: 18px;
  margin-bottom: 1rem;
}

.container-content-myprofile .image-profile-edit h3 {
  margin-right: 1.5rem;
}

.container-content-myprofile .image-profile-edit button {
  border-radius: 2.5rem;
  padding: 0.5rem 2rem;
}

.container-content-myprofile .profile-edit {
  display: flex;
  flex-direction: column;
}

.container-content-myprofile .profile-edit input {
  border-radius: 2.5rem;
  font-size: 18px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.container-content-myprofile .profile-edit label {
  font-size: 18px;
}

.container-content-myprofile .profile-edit button {
  width: 40%;
  margin: 1.5rem auto;
  font-size: 25px;
  border-radius: 2.5rem;
  padding: 0.4rem 2rem;
  font-family: Bebas Neue, sans-serif;
  border: none;
}

/* MEU PERFIL - ENDEREÇO */

.container-content-myprofile .profile-edit.address {
  width: 100%;
}

.container-content-myprofile .profile-edit.address input,
.container-content-myprofile .profile-edit.address select {
  border-radius: 2.5rem;
  font-size: 18px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.3rem;
  margin-right: 1rem;
}

.container-content-myprofile .profile-edit.address .city {
  display: flex;
  justify-content: start;
  align-items: start;
}

.container-content-myprofile .profile-edit.address .city select {
  width: 30%;
}

.container-content-myprofile .profile-edit.address .city input,
.container-content-myprofile .profile-edit.address .city #uf {
  width: 15%;
}

.container-content-myprofile .profile-edit.address .city #cep {
  width: 30%;
}

.container-content-myprofile .profile-edit.address .city label {
  margin-right: 0.5rem;
}

/* MEU PERFIL - DADOS BANCÁRIOS */

.container-content-myprofile.bank-info {
  background-color: white;
  justify-content: space-evenly;
}

.container-content-myprofile.bank-info form{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.container-content-myprofile.bank-info form input{
    width: 80%;
    height: 3rem;
    border-radius: 2.5rem;
    border: 2px solid black;
    background: none;
    margin-bottom: 1.4rem;
    padding: 0.4rem 1rem;
}

.container-content-myprofile.bank-info form label{
font-size: 20px;
}

.container-content-myprofile.bank-info a {
    background-color: #c7c7c7;
    color: black;
    padding: 0.7rem 4rem;
    border-radius: 2.4rem;
    margin: 0 auto;
    font-size: 30px;
}